---
import CardLaunch from "../components/CardLaunch.astro";
import Layout from "../layouts/Layout.astro";
import { getOldestLaunches } from "../services/spacex";


let launches = await getOldestLaunches();
---


<Layout title="Oldest launches">
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          launches.map((launch) => (
            <CardLaunch
              id={launch.id}
              img={launch.links.patch.small}
              details={launch.details}
              flightNumber={launch.flight_number}
              success={launch.success}
              name={launch.name}
            />
          ))
        }
      </div>
</Layout>